@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CorkyID!</h1>
</div>
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-3">Deal of the Month</h1>
            <p class="lead">Take 20% off your bill at Nandos by showing CorkyID to your server at the checkout.</p>
        </div>  
    </div>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="http://www.ll-mm.com/images/placeholders/image-placeholder.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">JD Sports</h5>
                <p class="card-text">An extra 10% off the summer sale at JD Sports with CorkyID!.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="http://www.ll-mm.com/images/placeholders/image-placeholder.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Prezzo</h5>
                <p class="card-text">10% off pizzas when you spend atleast £40 at Prezzos.</p>
                <p class="card-text"><small class="text-muted">Last updated 95 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="http://www.ll-mm.com/images/placeholders/image-placeholder.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Incoming soon</h5>
                <p class="card-text">New Deals incoming soon!</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>