@page
@model CorkyID.SchemeCreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h4>Create a new scheme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schemes.Name" class="control-label"></label>
                <input asp-for="Schemes.Name" class="form-control" />
                <span asp-validation-for="Schemes.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schemes.ValidFromDate" class="control-label"></label>
                <input asp-for="Schemes.ValidFromDate" class="form-control" />
                <span asp-validation-for="Schemes.ValidFromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schemes.ValidToDate" class="control-label"></label>
                <input asp-for="Schemes.ValidToDate" class="form-control" />
                <span asp-validation-for="Schemes.ValidToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schemes.SchemeDescription" class="control-label"></label>
                <input asp-for="Schemes.SchemeDescription" class="form-control" />
                <span asp-validation-for="Schemes.SchemeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-danger" role="button" asp-page="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
